body{
  background: radial-gradient(circle at center, white 20%, pink 50%, aqua 100%);
}

h1{
  text-align: center;
  width: 300px;
  margin: 30px auto;
  font-family:Arial, Helvetica, sans-serif;
  color: rgb(146, 63, 109);
}

.todo-list{
  background-color: aqua;
  margin: auto;
  padding: 10px 40px;
  width: 350px;
  border-radius: 20px;
  border: 10px dashed white;
}
.todo-list > li{
  list-style-position: inside;
  list-style-type: none;
  width: 300px;
  background-color: pink;
  line-height: 30px;
  margin: 30px auto;
  border-radius: 10px;
  padding: 10px 30px;
  border: 2px white dotted;
}

.sub-item{
  list-style-type: none;
  padding-top: 0px;
}

.sub-item-link{
  text-decoration: none;
}

.sub-item-link:link{
  color: blue;
}

.sub-item-link:visited{
  color: purple;
}

.sub-item-link:hover{
  color: green;
  text-decoration: underline;
}

.sub-item-link:active{
  color: white;
}

a:focus{
  outline-color: green;
  text-decoration: underline;
}

input:focus{
  outline-color: green;
}