body{
  background-color: rosybrown;
  font-family: "Arial", sans-serif;
}

.business-card{
  width: 300px;
  background-color: teal;
  padding: 20px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 16px;
}

a{
  text-decoration: none;
}

.profile-image{
  max-width: 100%;
}

p{
  margin-top: 5px;
  margin-bottom: 5px;
}

.full-name{
  font-family: cursive;
  font-size: 30px;
  margin: -10px;
}

.company{
  text-decoration: underline;
}

hr {
  padding-top: 3px;
  color: rosybrown;
  border-color: rosybrown;
  background-color: rosybrown;
}

.social-media{
  margin: -8px;
}

h2{
  font-size: 16px;
}

a:hover{
  color: purple;
}

a:visited{
  color: rosybrown;
}

a:active{
  color:white;
}